
html, body {height:100%;margin:0;}
#GrandeIntro {height:100%;width: 100%; background-image: url("Objet/image1.jpg"); background-size:cover; background-repeat: no-repeat;}
#siteWrapper {margin-top:-80px;}
#siteWrapper header {height:80px;background:#000;}
#siteWrapper header.fixed {position:fixed;width:100%;top:0;left:0;}
#content {padding:60px 0;background:#0c9;}
#siteWrapper header.fixed+#content {margin-top:80px;}
#content div {width:80%;height:1500px;margin:auto;border:solid;}

.white {
	text-decoration: none;
	color: white;
}
.white:hover{
	text-decoration: none;
	color: #23527C
}
.white:visited{
	text-decoration: none;
}
.white:active{
	text-decoration: none;
}
.white:focus{
	text-decoration: none;	
}
.logo{
	height:100%; 

}
#Grandenavigation{
	width: 100%;
	height: 100%;
	display: flex;
    justify-content: flex-start;
    align-items: center;


}
.navi{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
    
}
.navi ul{
	width: 100%;
	display: flex;
	justify-content: center;
    align-items: center;
}
.ecriture {
	text-decoration: none;
    font-size: 1.5em;
    list-style : none;

}
.ecriture{
	width: 100%;
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.ecriture li {
	width: 100%;
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}



.conteneur{
	display: flex;
	justify-content: center;
	align-items: center;
}
.social{
	position: relative;
	background-color: rgba(0,0,0,0.2);
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	overflow: hidden;
}
.social img {
	z-index: 2;
	width: 30px;
	height: 30px;
}
.fond_twi, .fond_lin, .fond_face, .fond_mess{
	top: -40px;
	z-index: 1;
	display: block;
	height: 40px;
	width: 40px;
	position: absolute;
	transition: 0.5s;

}
.fond_twi{
	background-color: #55acee;
}
.fond_face{
	background-color: #3b5999;
}
.social:hover .fond_twi {
	top: 0;
}
.social:hover .fond_face{
	top: 0;
}
.fond_lin{
	background-color: #0e76a8;
}
.social:hover .fond_lin {
	top: 0;
}
.fond_mess{
	background-color: red;
}
.social:hover .fond_mess {
	top: 0;
}